@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Josefin+Slab:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,900;1,200;1,300;1,400;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* 

? informativo
* negrito
TODO: destacado
! importante/erro
comentario normal

*/


/*TODO: ====== VARIAVEIS CSS ===== */

 :root {
    --largura-cabecalho: 3rem;
    /*?==== TAMANHO DOS TEXTOS ====*/
    /*! .5rem: 8px 1rem:16px 2rem: 32px 3rem: 48px */
    --tam-fonte-grande: 2rem;
    --tam-fonte-h1: 1.5rem;
    --tam-fonte-h2: 1.25rem;
    --tam-fonte-h3: 1.125rem;
    --tam-fonte-normal: .938rem;
    --tam-fonte-pequeno: .813rem;
    --tam-fonte-menor: .75rem;
    /*?==== ESTILO DAS FONTES ====
*/
    --estilo-medio: 500;
    --estilo-semi-negrito: 600;
    /*?==== FAMILIA DE FONTES ====
*/
    --font-atual: "Poppins", serif;
    /*?==== CORES ====
*/
    /*! SITE PARA VERIFICAR AS CORES HSL
*                https://www.w3schools.com/colors/colors_hsl.asp */
    --cor-principal: 250;
    /*          * roxo: 250 verde: 142 vermelho: 0 azul: 230 rosa: 340*/
    --cor: hsl(var(--cor-principal), 69%, 61%);
    --cor-escura: hsl(var(--cor-principal), 57%, 53%);
    --cor-clara: hsl(var(--cor-principal), 92%, 85%);
    --cor-titulos: hsl(var(--cor-principal), 8%, 15%);
    --cor-textos: hsl(var(--cor-principal), 8%, 45%);
    --cor-textos-claros: hsl(var(--cor-principal), 8%, 65%);
    --cor-inputs: hsl(var(--cor-principal), 70%, 96%);
    --cor-body: hsl(var(--cor-principal), 60%, 99%);
    --cor-container: var(--branco);
    --branco: hsl(0, 0%, 100%);
    --preto: hsl(0, 0%, 0%);
    /*?==== MARGENS ====
*/
    --mb-0-25: .25rem;
    --mb-0-5: .50rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*?==== z Index ====
*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
     :root {
        --tam-fonte-grande: 3rem;
        --tam-fonte-h1: 2.25rem;
        --tam-fonte-h2: 1.5rem;
        --tam-fonte-h3: 1.25rem;
        --tam-fonte-normal: .1rem;
        --tam-fonte-pequeno: .875rem;
        --tam-fonte-menor: .813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-ativa);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--largura-cabecalho) 0;
    font-family: var(--font-atual);
    font-size: var(--tam-fonte-normal);
    background-color: var(--cor-body);
    color: var(--cor-textos);
}

h1,
h2,
h3,
h4 {
    color: var(--cor-titulos);
    font-weight: var(--estilo-semi-negrito);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

b {
    color: var(--cor-titulos);
    font-size: var(--tam-fonte-h3);
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section-titulo {
    font-size: var(--tam-fonte-h1);
}

.section-subtitulo {
    display: block;
    font-size: var(--tam-fonte-pequeno);
    margin-bottom: var(--mb-3);
}

.section-titulo,
.section-subtitulo {
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--cor-body);
}

.nav {
    max-width: 968px;
    height: var(--largura-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-toggle {
    color: var(--cor-titulos);
    font-weight: var(--estilo-medio);
}

.nav-logo:hover {
    color: var(--cor);
}

.nav-toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--cor);
}

@media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--cor-body);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tam-fonte-pequeno);
    color: var(--cor-titulos);
    font-weight: var(--estilo-medio);
}

.nav-link:hover {
    color: var(--cor);
}

.nav-icon {
    font-size: 1.2rem;
}

.nav-close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--cor);
}

.nav-close:hover {
    color: var(--cor-escura);
}

.show-menu {
    bottom: 0;
}

.home-container {
    gap: 1rem;
}

.home-content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home-social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon {
    font-size: 1.25rem;
    color: var(--cor);
}

.home-social-icon:hover {
    color: var(--cor-escura);
}

.home-blob {
    width: 200px;
    fill: var(--cor)
}

.home-blob-img {
    width: 100px;
}

.home-data {
    grid-column: 1/3;
}

.home-titulo {
    font-size: var(--tam-fonte-grande);
}

.home-subtitulo {
    font-size: var(--tam-fonte-h3);
    color: var(--cor-textos);
    font-weight: var(--estilo-medio);
    margin-bottom: var(--mb-0-75);
}

.home-descricao {
    margin-bottom: var(--mb-2);
}

.home-scroll {
    display: none;
}

.home-scroll-botao {
    color: var(--cor);
    transition: .3s;
}

.home-scroll-botao:hover {
    transform: translateY(0.25rem);
}

.home-scroll-mouse {
    font-size: 1.25rem;
}

.home-scroll-name {
    font-size: var(--tam-fonte-pequeno);
    color: var(--cor-titulos);
    font-weight: var(--estilo-medio);
    margin-right: var(--mb-0-25);
}

.home-scroll-arrow {
    font-size: 1.25rem;
}

.botao {
    display: inline-block;
    background-color: var(--cor);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--estilo-medio);
}

.botao:hover {
    background-color: var(--cor-escura);
}

.botao-icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.botao--flex {
    display: inline-flex;
    align-items: center;
}

.sobre-img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.sobre-descricao {
    margin-bottom: var(--mb-2-5);
    text-align: center;
}

.sobre-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.sobre-info-titulo {
    font-size: var(--tam-fonte-h2);
    font-weight: var(--estilo-semi-negrito);
    color: var(--cor-titulos);
}

.sobre-info-name {
    font-size: var(--tam-fonte-menor);
}

.sobre-info-titulo,
.sobre-info-name {
    display: block;
    text-align: center;
}

.sobre-botoes {
    display: flex;
    justify-content: space-evenly;
}

.skills-container {
    row-gap: 0;
}

.skills-cabecalho {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills-icon,
.skills-arrow {
    font-size: 2rem;
    color: var(--cor);
}

.skills-icon {
    margin-right: var(--mb-0-75);
}

.skills-titulo {
    font-size: var(--tam-fonte-h3);
}

.skills-subtitulo {
    font-size: var(--tam-fonte-pequeno);
    color: var(--cor-textos-claros);
}

.skills-arrow {
    margin-left: auto;
    transition: .4s;
}

.skills-list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills-titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills-name {
    font-size: var(--tam-fonte-normal);
    font-weight: var(--estilo-medio);
}

.skills-barra,
.skills-porcent {
    height: 5px;
    border-radius: .25rem;
}

.skills-barra {
    background-color: var(--cor-textos-claros);
}

.skills-porcent {
    display: block;
    height: 8px;
    background-color: var(--cor);
    animation: progress 5s infinite alternate;
}

.skills-html {
    width: 60%;
}

.skills-css {
    width: 65%;
}

.skills-js {
    width: 48%;
}

.skills-nodejs {
    width: 10%;
}

.skills-sql {
    width: 76%;
}

.skills-c {
    width: 80%;
}

.skills-cSharp {
    width: 68%;
}

.skills-java {
    width: 58%;
}

.skills-python {
    width: 60%;
}

.skills-photoshop {
    width: 65%;
}

.skills-illustrator {
    width: 60%;
}

.skills-afteffects {
    width: 48%;
}

.skills-aseprite {
    width: 30%;
}

.skills-close .skills-list {
    height: 0;
    overflow: hidden;
}

.skills-open .skills-list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills-open .skills-arrow {
    transform: rotate(-180deg);
}

@keyframes progress {
    from {
        width: 0;
    }
}