@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 :root {
    --font-atual: "Poppins", sans-serif;
    --cor-1: #0e2431;
    --cor-2: #6a59d1;
    --cor-3: #777;
    --cor-hover: var(--cor-1);
    --cor-body: #fefefe;
    --cor-card: #fff;
    --cor-modal: var(--cor-body);
    --cor-bg-transparent: rgba(0, 0, 0, 0.1);
    --cor-transparent: var(--cor-bg-transparent);
    --cor-bg-transparent: rgba(106, 89, 209, 0.1);
    --cor-linha: var(--cor-body);
    --cor-filtro: invert(1);
    --box-shadow: 0 0 20px rgb(0, 0, 0/10%);
    /*! font size */
    --font-pequeno: .9em;
    --font-normal: 1em;
    /*! scrollbar */
    --scrollbar-cor: #c5cadf;
    --scroll-thumb-cor: #70768a;
    --scroll-thumb-cor-hover: #454f6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-atual);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--cor-1);
    background-color: var(--cor-body);
    margin: 2rem 0 0;
    transition: .5s ease;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

.nav-bar .logo {
    color: var(--cor-1);
    font-size: 1.3em;
    font-weight: 600;
}

.nav-items a {
    color: var(--cor-1);
    font-size: var(--font-normal);
    font-weight: 500;
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}

.nav-items a:hover {
    color: var(--cor-2);
}

.home {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.home-container .media-icons a {
    color: var(--cor-2);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover {
    color: var(--cor-1);
}

.home-container .info h2 {
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3 {
    color: var(--cor-3);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p {
    color: var(--cor-3);
    font-size: var(--font-normal);
    max-width: 350px;
}

.botao {
    background: var(--cor-2);
    color: #fff;
    font-size: var(--font-normal);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.botao:hover {
    background: var(--cor-hover);
}

.home-container .home-img {
    position: relative;
}

.home-container .home-img img {
    width: 90%;
    transform: translate(0, 0);
}

.home .scroll-down {
    color: var(--cor-2);
    font-size: var(--font-normal);
    font-weight: 500;
    margin-top: 20px;
}

.home .scroll-down i {
    color: var(--cor-1);
    font-size: 1.2em;
    animation: arrow-down ease 1s infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.subsecao {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.titulo-1 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--cor-1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.titulo-2 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.container {
    position: relative;
    flex-direction: column;
}