@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

/* EFEITOS GERAIS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-action);
}

 :root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
    --green: green;
    --red: red;
    --white: white;
}

body {
    min-height: 100vh;
    overflow: hidden;
}


/* EFEITOS DIV PRINCIPAL*/

.principal.active {
    width: calc(100% - 80px);
    left: 80px;
}

.principal {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.busca {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.busca label {
    position: relative;
    width: 100%;
}

.busca label input {
    width: 1%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 14px;
    transition: 0.5s;
    outline: none;
}

.busca label input:hover {
    width: 60%;
    background: rgb(224, 228, 224);
}

.busca label ion-icon {
    position: absolute;
    top: 1px;
    left: 20px;
    font-size: 1.2em;
    transition: 0.5s;
}

.busca label:hover ion-icon {
    left: 10px;
}


/* EFEITOS MENU */

.menu {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--green);
    border-left: 10px solid var(--green);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.active {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.active a {
    color: var(--red);
}

.navigation ul li:hover a::before,
.navigation ul li.active a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.active a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    font-size: 20px;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


/* EFEITOS BOX INFO */

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: rgb(221, 248, 210);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 2px 3px 2px rgb(77, 77, 77);
}

.cardBox .card .content {
    box-sizing: border-box;
    opacity: 0;
}

.cardBox .card:hover .content {
    opacity: 1;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--black);
}

.cardBox .card .cardName {
    margin-top: 5px;
    color: rgb(180, 173, 173);
}

.cardBox .card:hover {
    background: rgb(95, 150, 82);
    box-shadow: 2px 2px 8px green;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.cardBox .card .iconBx {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    border-radius: 50%;
    z-index: 1;
    font-size: 3.5em;
    color: var(--green);
}

.cardBox .card:hover .iconBx {
    top: 20px;
    left: 60%;
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.cardBox .card .iconBx .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    font-size: 60px;
}

.cardBox .card:hover .iconBx .fas {
    top: 50%;
    left: 50%;
    font-size: 30px;
}


/* EFEITOS BOX TABELA  */

.detalhes {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.detalhes .recente-order {
    position: relative;
    display: grid;
    min-height: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px gray;
    border-radius: 20px;
}

.titulo-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* EFEITOS TABELA */

.detalhes .recente-order table tbody tr:hover {
    background: green;
    color: white;
}

.detalhes .recente-order table thead {
    background: rgb(88, 155, 88);
    color: white;
    /*text-align: center;*/
}

.detalhes .recente-order table tbody tr {
    cursor: default;
}